attr==0.3.2
audio.wave==4.0.2
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==41.0.7
Cython==3.0.8
dl==0.1.0
docutils==0.20.1
filelock==3.13.1
HTMLParser==0.0.2
ipython==8.19.0
ipywidgets==8.1.1
Jinja2==3.1.2
jnius==1.1.0
keyring==24.3.0
mock==5.1.0
numpy==1.26.3
opencv_python==4.9.0.80
Pillow==10.1.0
Pillow==10.2.0
protobuf==4.25.2
pyinstaller==6.3.0
PyOpenGL==3.1.7
pyOpenSSL==23.3.0
railroad==0.5.0
redis==5.0.1
Sphinx==7.2.6
thread==0.1.3
tornado==6.4
trove_classifiers==2024.1.8
urllib3_secure_extra==0.1.0
VideoCapture==0.9.5
xmlrpclib==1.0.1

pygame~=2.5.2
PyQt6~=6.6.1